# Data Exploration

This is the first part of the project, where I explore and understand the basics of the data

## Imports

In [1]:
import pandas as pd

## Loading data

In [2]:
# This is the cell for defining constants used throughout the notebook

# Data path
PATH = 'data/'

# Files
FILEPATHS = {
    'consumer_price_index' : 'SYB65_128_202209_Consumer Price Index.csv',
    'employment' : 'SYB65_200_202209_Employment.csv',
    'gdp' : 'SYB65_230_202209_GDP and GDP Per Capita.csv',
    'education_expenditure' : 'SYB65_245_202209_Public expenditure on education.csv',
    'research' : 'SYB65_285_202209_Research and Development Staff.csv',
    'education' : 'SYB65_309_202209_Education.csv',
    'teaching_staff' : 'SYB65_323_202209_Teaching Staff in education.csv',
    'crimes' : 'SYB65_328_202209_Intentional homicides and other crimes.csv',
    'labour_force_and_unemployment' : 'SYB65_329_202209_Labour Force and Unemployment.csv'
}

# Amount of rows read from each file
NROWS = 10000

SKIPPED_SERIES = [
    
]

## Getting columns
Here I get the columns of every file

In [3]:
for file in FILEPATHS.values():
    filepath = PATH + file
    df = pd.read_csv(filepath, nrows=1)
    print(list(df.columns))

['T20', 'Consumer Price Index', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']
['T19', 'Employment by economic activity', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']
['T14', 'Gross domestic product and gross domestic product per capita', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']
['T10', 'Public Expenditure on Education (2021)', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']
['T26', 'Population employed in research and development (R&D)', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']
['T08', 'Enrolment in primary, secondary and tertiary education levels', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']
['T09', 'Teaching staff at the primary, secondary and upper secondary levels', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']
['T13', 'Intentional homicides and other crimes', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']
['T18', 'Labour force participation and unemployment', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']

After manually analysing the data, I found out that the first row of the data is somewhat the title of the file, so we just ignore the first row

In [4]:
for file in FILEPATHS.values():
    filepath = PATH + file
    df = pd.read_csv(filepath, nrows=1, skiprows=1)
    print(list(df.columns))

['Region/Country/Area', 'Unnamed: 1', 'Year', 'Series', 'Value', 'Footnotes', 'Source']
['Region/Country/Area', 'Unnamed: 1', 'Year', 'Series', 'Value', 'Footnotes', 'Source']
['Region/Country/Area', 'Unnamed: 1', 'Year', 'Series', 'Value', 'Footnotes', 'Source']
['Region/Country/Area', 'Unnamed: 1', 'Year', 'Series', 'Value', 'Footnotes', 'Source']
['Region/Country/Area', 'Unnamed: 1', 'Year', 'Series', 'Value', 'Footnotes', 'Source']
['Region/Country/Area', 'Unnamed: 1', 'Year', 'Series', 'Value', 'Footnotes', 'Source']
['Region/Country/Area', 'Unnamed: 1', 'Year', 'Series', 'Value', 'Footnotes', 'Source']
['Region/Country/Area', 'Unnamed: 1', 'Year', 'Series', 'Value', 'Footnotes', 'Source']
['Region/Country/Area', 'Unnamed: 1', 'Year', 'Series', 'Value', 'Footnotes', 'Source']

While analysing why the 'Unnamed: 1' column, found out that the first and second column labels are connected, with the first column being the region index and the second column being the 'Region/Country/Area' name

Correction: actually, the data is formated in a very different way, with the 'column name' being in the column 'series'. I'm not sure anymore of how easy this is to fix. However, we don't need to fix it just yet, we can first look at how many unique values are in the column 'series'

In [5]:
for file in FILEPATHS.values():
    filepath = PATH + file
    df = pd.read_csv(filepath, skiprows=1, usecols=['Series'])
    print(f"{file[17:]}: {len(df['Series'].unique())}")

Consumer Price Index.csv: 2
Employment.csv: 9
GDP and GDP Per Capita.csv: 4
Public expenditure on education.csv: 7
Research and Development Staff.csv: 7
Education.csv: 9
Teaching Staff in education.csv: 6
Intentional homicides and other crimes.csv: 8
Labour Force and Unemployment.csv: 6

Now for what such values are:

In [6]:
def get_dataset_values(file):
    filepath = PATH + FILEPATHS[file]
    df = pd.read_csv(filepath, skiprows=1, usecols=['Series'])
    print(f'{file}:')
    for item in df['Series'].unique():
        print(f'    {item}')

In [7]:
# Consumer Price Index
get_dataset_values('consumer_price_index')

consumer_price_index:
    Consumer price index: General
    Consumer price index: Food

In [8]:
# Employment
get_dataset_values('employment')

employment:
    Employment by industry: Agriculture (%) Male and Female
    Employment by industry: Industry (%) Male and Female
    Employment by industry: Services (%) Male and Female
    Employment by industry: Agriculture (%) Male
    Employment by industry: Industry (%) Male
    Employment by industry: Services (%) Male
    Employment by industry: Agriculture (%) Female
    Employment by industry: Industry (%) Female
    Employment by industry: Services (%) Female

In [9]:
# GDP and GDP per Capita
get_dataset_values('gdp')

gdp:
    GDP in current prices (millions of US dollars)
    GDP per capita (US dollars)
    GDP in constant 2010 prices (millions of US dollars)
    GDP real rates of growth (percent)

In [10]:
# Consumer Price Index
get_dataset_values('education_expenditure')

education_expenditure:
    Current expenditure other than staff compensation as % of total expenditure in public institutions (%)
    All staff compensation as % of total expenditure in public institutions (%)
    Capital expenditure as % of total expenditure in public institutions (%)
    Public expenditure on education (% of GDP)
    Basic access to computers by level of education: Primary
    Basic access to computers by level of education: Lower secondary
    Basic access to computers by level of education: Upper secondary

In [11]:
# Research
get_dataset_values('research')

research:
    R & D personnel: Total (number in full-time equivalent)
    R & D personnel: Researchers - total (number in full-time equivalent)
    R & D personnel: Researchers - women (number in full-time equivalent)
    R & D personnel: Technicians - total (number in full-time equivalent)
    R & D personnel: Other supporting staff - total (number in full-time equivalent)
    R & D personnel: Technicians - women (number in full-time equivalent)
    R & D personnel: Other supporting staff - women (number in full-time equivalent)

In [12]:
# Education
get_dataset_values('education')

education:
    Students enrolled in primary education (thousands)
    Gross enrollment ratio - Primary (male)
    Gross enrollment ratio - Primary (female)
    Students enrolled in secondary education (thousands)
    Gross enrollment ratio - Secondary (male)
    Gross enrollment ratio - Secondary (female)
    Students enrolled in upper secondary education (thousands)
    Gross enrollment ratio - Upper secondary level (male)
    Gross enrollment ratio - Upper secondary level (female)

In [13]:
# Teaching Staff
get_dataset_values('teaching_staff')

teaching_staff:
    Teachers at primary level (thousands)
    Teachers at secondary level (thousands)
    Teachers at upper secondary level (thousands)
    Teachers with minimum required qualifications at primary level
    Teachers with minimum required qualifications at secondary level
    Teachers with minimum required qualifications at upper secondary level

In [14]:
# Crimes
get_dataset_values('crimes')

crimes:
    Intentional homicide rates per 100,000
    Percentage of male and female intentional homicide victims, Male
    Percentage of male and female intentional homicide victims, Female
    Assault rate per 100,000 population
    Theft at the national level, rate per 100,000 population
    Robbery at the national level, rate per 100,000 population
    Total Sexual Violence at the national level, rate per 100,000
    Kidnapping at the national level, rate per 100,000

In [15]:
# Labour Force and Unemployement
get_dataset_values('labour_force_and_unemployment')

labour_force_and_unemployment:
    Labour force participation - Total
    Unemployment rate - Total
    Labour force participation - Male
    Unemployment rate - Male
    Labour force participation - Female
    Unemployment rate - Female

In [16]:
used_series = [
    'Consumer price index: General',
    'Consumer price index: Food',
    'Employment by industry: Agriculture (%) Male and Female',
    'Employment by industry: Industry (%) Male and Female',
    'Employment by industry: Services (%) Male and Female',
    'GDP in current prices (millions of US dollars)',
    'GDP per capita (US dollars)',
    'GDP in constant 2010 prices (millions of US dollars)',
    'GDP real rates of growth (percent)',
    'Current expenditure other than staff compensation as % of total expenditure in public institutions (%)',
    'All staff compensation as % of total expenditure in public institutions (%)',
    'Capital expenditure as % of total expenditure in public institutions (%)',
    'Public expenditure on education (% of GDP)',
    'Basic access to computers by level of education: Primary',
    'Basic access to computers by level of education: Lower secondary',
    'Basic access to computers by level of education: Upper secondary',
    'R & D personnel: Total (number in full-time equivalent)',
    'R & D personnel: Researchers - total (number in full-time equivalent)',
    'R & D personnel: Researchers - women (number in full-time equivalent)',
    'R & D personnel: Technicians - total (number in full-time equivalent)',
    'R & D personnel: Other supporting staff - total (number in full-time equivalent)',
    'R & D personnel: Technicians - women (number in full-time equivalent)',
    'R & D personnel: Other supporting staff - women (number in full-time equivalent)',
    'Students enrolled in primary education (thousands)',
    'Gross enrollment ratio - Primary (male)',
    'Gross enrollment ratio - Primary (female)',
    'Students enrolled in secondary education (thousands)',
    'Gross enrollment ratio - Secondary (male)',
    'Gross enrollment ratio - Secondary (female)',
    'Students enrolled in upper secondary education (thousands)',
    'Gross enrollment ratio - Upper secondary level (male)',
    'Gross enrollment ratio - Upper secondary level (female)',
    'Teachers at primary level (thousands)',
    'Teachers at secondary level (thousands)',
    'Teachers at upper secondary level (thousands)',
    'Teachers with minimum required qualifications at primary level',
    'Teachers with minimum required qualifications at secondary level',
    'Teachers with minimum required qualifications at upper secondary level',
    'Intentional homicide rates per 100,000',
    'Assault rate per 100,000 population',
    'Theft at the national level, rate per 100,000 population',
    'Robbery at the national level, rate per 100,000 population',
    'Total Sexual Violence at the national level, rate per 100,000',
    'Kidnapping at the national level, rate per 100,000',
    'Labour force participation - Total',
    'Unemployment rate - Total',
]

So basically every dataset has the following columns:

* 'Region/Country/Area': index
* 'Unnamed: 1': the region, country or area of the data
* 'Year': the year of the data
* 'Series': what the data is about
* 'Value': the data
* 'Footnotes': some observations
* 'Source': information about the source

We want to:
* Set the first column as the index and the second column as 'Region/Country/Area'
* Filter only the series values we want
    - For now we'll be ignoring the male/female aspect of data, as it can increase up to threefold the ammount of columns in some datasets
* Change the label of the 'Values' column to be the value from the 'Series' column
* Remove unwanted columns:
    - Footnotes
    - Source
    - Series
* Merge it all in one dataframe with:
    - Index
    - Region/Country/Area
    - Year
    - The values, labeled accordingly to the series they belong
* Save it to pickle

In [250]:
def delete_comma(data):
    data = str(data)
    data = data.replace(',', '')
    data = float(data)
    return data

In [272]:
def read_file(file):
    filepath = PATH + FILEPATHS[file]
    df = pd.read_csv(filepath, skiprows=1, usecols=['Unnamed: 1', 'Year', 'Series', 'Value'])
    df = df.rename({'Unnamed: 1': 'Country'}, axis=1)
    df['Value'] = df['Value'].map(delete_comma)
    df = df.join(df.pivot(columns='Series', values='Value'))
    df = df.drop(['Value', 'Series'], axis=1)
    df = df.groupby(['Country', 'Year'])
    df = df.sum(min_count=1, numeric_only=True)
    df = df.reset_index()
    return df

In [273]:
#Testing:
df = read_file('consumer_price_index')
df[ df['Country']=='Brazil' ]

    Country  Year  Consumer price index: Food  Consumer price index: General
161  Brazil  2000                         NaN                           52.5
162  Brazil  2005                         NaN                           79.5
163  Brazil  2010                       100.0                          100.0
164  Brazil  2015                       154.4                          138.4
165  Brazil  2019                       185.4                          167.4
166  Brazil  2020                       202.2                          172.8
167  Brazil  2021                       227.2                          187.1

In [274]:
for i in FILEPATHS:
    print(read_file(i).dtypes)

Country                           object
Year                               int64
Consumer price index: Food       float64
Consumer price index: General    float64
dtype: object
Country                                                     object
Year                                                         int64
Employment by industry: Agriculture (%) Female             float64
Employment by industry: Agriculture (%) Male               float64
Employment by industry: Agriculture (%) Male and Female    float64
Employment by industry: Industry (%) Female                float64
Employment by industry: Industry (%) Male                  float64
Employment by industry: Industry (%) Male and Female       float64
Employment by industry: Services (%) Female                float64
Employment by industry: Services (%) Male                  float64
Employment by industry: Services (%) Male and Female       float64
dtype: object
Country                                                  object
Year                                                      int64
GDP in constant 2010 prices (millions of US dollars)    float64
GDP in current prices (millions of US dollars)          float64
GDP per capita (US dollars)                             float64
GDP real rates of growth (percent)                      float64
dtype: object
Country                                                                                                    object
Year                                                                                                        int64
All staff compensation as % of total expenditure in public institutions (%)                               float64
Basic access to computers by level of education: Lower secondary                                          float64
Basic access to computers by level of education: Primary                                                  float64
Basic access to computers by level of education: Upper secondary                                          float64
Capital expenditure as % of total expenditure in public institutions (%)                                  float64
Current expenditure other than staff compensation as % of total expenditure in public institutions (%)    float64
Public expenditure on education (% of GDP)                                                                float64
dtype: object
Country                                                                              object
Year                                                                                  int64
R & D personnel: Other supporting staff - total (number in full-time equivalent)    float64
R & D personnel: Other supporting staff - women (number in full-time equivalent)    float64
R & D personnel: Researchers - total (number in full-time equivalent)               float64
R & D personnel: Researchers - women (number in full-time equivalent)               float64
R & D personnel: Technicians - total (number in full-time equivalent)               float64
R & D personnel: Technicians - women (number in full-time equivalent)               float64
R & D personnel: Total (number in full-time equivalent)                             float64
dtype: object
Country                                                        object
Year                                                            int64
Gross enrollment ratio - Primary (female)                     float64
Gross enrollment ratio - Primary (male)                       float64
Gross enrollment ratio - Secondary (female)                   float64
Gross enrollment ratio - Secondary (male)                     float64
Gross enrollment ratio - Upper secondary level (female)       float64
Gross enrollment ratio - Upper secondary level (male)         float64
Students enrolled in primary education (thousands)            float64
Students enrolled in secondary education (thousands)          float64
Students enrolled in upper secondary education (thousands)    float64
dtype: object
Country                                                                    object
Year                                                                        int64
Teachers at primary level (thousands)                                     float64
Teachers at secondary level (thousands)                                   float64
Teachers at upper secondary level (thousands)                             float64
Teachers with minimum required qualifications at primary level            float64
Teachers with minimum required qualifications at secondary level          float64
Teachers with minimum required qualifications at upper secondary level    float64
dtype: object
Country                                                                object
Year                                                                    int64
Assault rate per 100,000 population                                   float64
Intentional homicide rates per 100,000                                float64
Kidnapping at the national level, rate per 100,000                    float64
Percentage of male and female intentional homicide victims, Female    float64
Percentage of male and female intentional homicide victims, Male      float64
Robbery at the national level, rate per 100,000 population            float64
Theft at the national level, rate per 100,000 population              float64
Total Sexual Violence at the national level, rate per 100,000         float64
dtype: object
Country                                 object
Year                                     int64
Labour force participation - Female    float64
Labour force participation - Male      float64
Labour force participation - Total     float64
Unemployment rate - Female             float64
Unemployment rate - Male               float64
Unemployment rate - Total              float64
dtype: object